body {
  margin: 0;
  padding: 0;
  background-color: #ffff;
  color: #9e9ea4;
  font-family: "Montserrat", sans-serif;
}

.icon {
  vertical-align: middle;
  line-height: 1px;
  font-size: 20px;
}
.user-icon {
  font-size: 270%;
  color: #9e9ea4;
}
.icon_header {
  vertical-align: middle;
  line-height: 1px;
  font-size: 26px;
}
.icon2 {
  font-size: 20px;
  color: #461e96;
}
.icon,
.icon_header {
  margin-right: 5px;
}

.close_icon {
  color: red;
  margin-left: 30px;
  margin-top: 10px;
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: 260px 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* Header  */
.header {
  grid-area: header;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
}

.header-text {
  color: black;
}

.menu-icon {
  display: none;
}
/* End Header  */
.heading {
  font-size: 40px;
  margin-left: 30px;
  margin-top: 10px;
  color: #ffffff;
}
/* Sidebar  */
#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #461e96;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 0px 30px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  /* background-color: rgba(255, 255, 255, 0.2);; */
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  z-index: 12 !important;
}
.sider-bottom {
  margin-top: 250%;
  margin-left: 20px;
}
.sidebar-end {
  text-decoration: none !important;
  color: #ffffff;
}
/* End Sidebar  */

/* Main  */
.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 15px 0;
}

/* End Main  */

/* Medium <= 992px */

@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

@media screen and (max-width: 576px) {
  .hedaer-left {
    display: none;
  }
}

.table .thead-light th {
  background-color: #dddbf7;
}
/*cancel button******/
.form-end {
  color: #461e96 !important;
  border-color: #461e96 !important;
  margin-top: 10px;
  margin-left: 20px;
}
.Modal-button {
  background-color: #461e96 !important;
  font-size: 17px !important;
  /* margin-inline-end: 47px; */
}
.modal-title {
  color: #461e96 !important;
}
.modal-content {
  margin-top: 101px;
  height: auto;
}
.btn-primary {
  margin-top: 10px;
  background-color: #461e96 !important;
  border-color: #461e96 !important;
  color: "";
}
.cornerview {
  justify-content: end;
}
.custom-dropdown-item {
  text-decoration: none !important;
  color: #461e96;
  font-size: 23px !important;
  font-weight: 500;
}
.end-button {
  justify-content: space-between !important;
}
